@page
@model СarsharingWebApp.Pages.Home.LoginModel
@{
    ViewData["Title"] = "Login page";
}
<h1>Authorization page...</h1>

<form asp-controller="Home" asp-action="Login" method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button type='submit' class="btn btn-primary">Login</button>
</form>
