@page
@model СarsharingWebApp.Pages.Home.LoginModel
@{
    <h1>Authorization page...</h1>

    <form method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button class="btn btn-primary">Login</button>
    </form>
}
