@{
    ViewData["Title"] = "Login page";
}


@*<form asp-controller="Home" asp-action="Login" method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button type='submit' class="btn btn-primary">Login</button>
</form>*@

<div align="center">
    <form asp-controller="Home" asp-action="Login" method="post">
        <div align="center" style="width: 400px; height:600px;">
            <h1>Авторизация</h1>
            <br />
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username:</label>
                <input type="text" class="form-control" name="username" aria-describedby="usernameHelp">
                <div id="usernameHelp" class="form-text">Введите имя пользователя</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password:</label>
                <input type="password" class="form-control" name="password" id="passwordHelp">
                <div id="passwordHelp" class="form-text">Введите пароль в формате ...</div>
            </div>
            <button type="submit" class="btn btn-primary">Вход</button>
        </div>
    </form>
</div>
