@{
    ViewData["Title"] = "Поиск автомобиля";
}

<div align="center">
    <form asp-controller="Home" asp-action="Login" method="post">
        <div align="center" style="width: 600px">
            <h1>Поиск автомобиля</h1>
            <br />
            <div class="mb-3">
                <input type="text" class="form-control" name="carNumber" value="Гос. номер">
            </div>
            <div>
                <select class="form-select" name="carBrand" aria-label="carBrand">
                    <option selected>Выберите марку</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br />
                <select class="form-select" name="carModel" aria-label="carModel">
                    <option selected>Выберите модель</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br />
            </div>
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
    </form>
</div>
