@{
    ViewData["Title"] = "Меню выбора";
}

<div align="center">
    <div align="center" style="width: 600px; height:400px;">
        <h1>Что вы хотите сделать?</h1>
        <br />
        <div class="list-group">
            <a asp-action="CarSearch" asp-controller="Carsharing" class="list-group-item list-group-item-action">Найти автомобиль</a>
            <a asp-action="CarAdd" asp-controller="Carsharing" class="list-group-item list-group-item-action">Добавить автомобиль</a>
            <a asp-action="CarServ" asp-controller="Carsharing" class="list-group-item list-group-item-action">Обслуживание</a>
            <a asp-action="Logout" asp-controller="Carsharing" class="list-group-item list-group-item-action">Служебное</a>
        </div>
    </div>
</div>
