@{
    ViewData["Title"] = "Index page";
}

<div align="center">
    <div align="center" style="width: 600px; height:400px;">
        <h1>Что вы хотите сделать?</h1>
        <br />
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button type="button" class="btn btn-primary" asp-action="Logout" asp-controller="Home"> >Найти автомобиль</button>
            <button type="button" class="btn btn-primary" asp-action="Logout" asp-controller="Home"> >Добавить автомобиль</button>
            <button type="button" class="btn btn-primary" asp-action="Logout" asp-controller="Home"> >Обслуживание</button>
            <button type="button" class="btn btn-primary" asp-action="Logout" asp-controller="Home"> >Служебное...</button>
        </div>
    </div>
</div>
