@{
    ViewData["Title"] = "Index page";
}

<h1>This is index page Carsharing</h1>

@*<a href="/Home/Logout" class="btn btn-primary btn-lg">Logout</a>*@
<a class="btn btn-primary btn-lg" asp-action="Logout" asp-controller="Home">Logout</a>
